@import 'tailwindcss';

@font-face {
  font-family: "Modern Antiqua";
  src: url("/src/assets/fonts/ModernAntiqua-Regular.ttf") format("truetype");
}

.modern-antiqua-regular {
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}